<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>云音乐商城 - 音乐购有趣</title>
    <link rel="stylesheet" href="storecss/base.css">
    <link rel="stylesheet" href="storecss/demo.css">
    <link rel="stylesheet" href="storefont/iconfont.css">
    <link rel="stylesheet" href="storeCss/footer-css.css">
    <link class="ico" rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    <script src="storejs/common.js"></script>
    <script src="storejs/jquery-1.12.4.min.js"></script>
    <script src="storejs/demo.js"></script>
    <function></function>
  </head>
</html>
<!-- $('#search').children('li').mouseover(function () {-->
<!--     $('#search').children('li').removeClass('scolor');-->
<!--     $(this).addClass('scolor')-->
<!-- }).click(function () {-->
<!--     var content = $(this).html();-->
<!--     // console.log(content)-->
<!--     $('#searchbox').attr('placeholder',)-->
<!-- })-->
<script id="template1" type="text/plain"><li class="rec"><i>x</i></li></script>
<body>
  <div class="header">
    <div class="w">
      <div class="logo"><a href="#"><img src="storeimg/modules.png" alt=""></a></div>
      <div class="login" id="box"><span class="word" id="word">登陆</span>
        <!-- <span class="arr"></span>--><span class="arrtop" id="arrtop"></span>
        <ul id="loginn">
          <li><a href="#"><i class="tel"></i><i>手机号登陆</i></a></li>
          <li><a href="#"><i class="weixin"></i><i>微信登陆</i></a></li>
          <li><a href="#"><i class="qq"></i><i>QQ登陆</i></a></li>
          <li><a href="#"><i class="sina"></i><i>新浪微博登陆</i></a></li>
          <li><a href="#"><i class="mail"></i><i>网易邮箱账号登陆</i></a></li>
        </ul>
      </div>
      <div class="shopCar"><span class="num">0</span></div>
      <div class="search">
        <input id="searchbox" type="text" placeholder="耳机">
        <ul id="search"><span class="head">热门搜索</span>
          <!-- <li>笔记本</li>-->
          <li>帆布袋</li>
          <li>耳机</li>
          <li>蓝牙播放器</li>
          <li>魔声</li><span class="recentSearch">最近搜索</span>
        </ul>
      </div>
    </div>
  </div>
  <div class="carousel">
    <div class="w">
      <ul>
        <li class="current"><a href="#"><img src="storeimg/轮播图01.jpg" alt=""></a></li>
        <li><a href="#"><img src="storeimg/轮播图02.jpg" alt=""></a></li>
        <li><a href="#"><img src="storeimg/轮播图03.jpg" alt=""></a></li>
        <li><a href="#"><img src="storeimg/轮播图04.jpg" alt=""></a></li>
        <li><a href="#"><img src="storeimg/轮播图05.jpg" alt=""></a></li>
        <li><a href="#"><img src="storeimg/轮播图06.jpg" alt=""></a></li>
      </ul>
      <div class="point"><span class="nowColor"></span><span></span><span></span><span></span><span></span><span></span></div>
    </div>
    <div class="arr">
      <div class="left iconfont">󰍃</div>
      <div class="right iconfont">󰍄</div>
    </div>
  </div>
  <div class="help" id="help" style="top:500px">
    <ul>
      <li><span>100%</span><span>正品</span></li>
      <li><span>七天无理</span><span>由退货</span></li>
      <li><span class="shopCar"><i class="num"></i></span><span>购物车</span></li>
      <li><span class="service"><i class="num"></i></span><span>客服</span></li>
      <li class="last" id="last"></li>
    </ul>
  </div>
  <div class="nav">
    <div class="w"><a href="#"><i class="round"></i><i class="word">云音乐周边</i></a><span class="line"></span><a href="#"><i class="movie"></i><i class="word">数码影音</i></a><span class="line"></span><a href="#"><i class="notebook"></i><i class="word">云村笔记本</i></a><span class="line"></span><a href="#"><i class="shopscore"></i><i class="score">积分商城</i><i class="numscore">0积分</i></a></div>
  </div>
  <div class="pic">
    <div class="w">
      <div class="pic-left"><a href="#"><img src="storeimg/毕业.jpg" alt=""></a></div>
      <div class="pic-right"><a href="#"><img src="storeimg/纯粹.jpg" alt=""></a></div>
    </div>
  </div>
  <div class="compile">
    <div class="w">
      <h2>编辑推荐</h2>
      <ul>
        <li><a href="#"><img src="storeimg/耳机.jpg" alt=""></a>
          <p>￥1588</p>
        </li>
        <li><a href="#"><img src="storeimg/erji1.jpg" alt=""></a>
          <p>￥1588</p>
        </li>
        <li><a href="#"><img src="storeimg/erji2.jpg" alt=""></a>
          <p>￥1588</p>
        </li>
        <li><a href="#"><img src="storeimg/erji3.jpg" alt=""></a>
          <p>￥1588</p>
        </li>
        <li><a href="#"><img src="storeimg/erji4.jpg" alt=""></a>
          <p>￥1588</p>
        </li>
        <li><a href="#"><img src="storeimg/erji5.jpg" alt=""></a>
          <p>￥1588</p>
        </li>
        <li><a href="#"><img src="storeimg/erji6.jpg" alt=""></a>
          <p>￥1588</p>
        </li>
        <li><a href="#"><img src="storeimg/erji7.jpg" alt=""></a>
          <p>￥1588</p>
        </li>
        <!-- <li><a href="#"><img src="img/耳机.jpg" alt=""></a></li>-->
        <!-- <li><a href="#"><img src="img/耳机.jpg" alt=""></a></li>-->
        <!-- <li><a href="#"><img src="img/耳机.jpg" alt=""></a></li>-->
        <!-- <li><a href="#"><img src="img/耳机.jpg" alt=""></a></li>-->
        <!-- <li><a href="#"><img src="img/耳机.jpg" alt=""></a></li>-->
        <!-- <li><a href="#"><img src="img/耳机.jpg" alt=""></a></li>-->
      </ul>
    </div>
  </div>
  <div class="g-ft">
    <div class="m-ft">
      <div class="wrap f-cb">
        <div class="copy">
          <p><a class="s-fc4" href="#">关于网易</a><span class="line"></span><a class="s-fc4" href="#">客户服务</a><span class="line"></span><a class="s-fc4" href="#">服务条款</a><span class="line"></span><a class="s-fc4" href="#">网站导航</a><span class="line"></span><a class="s-fc4" href="#">意见反馈</a></p>
          <p class="s-fc3"><span class="sep">网易公司版权所有©1997-2017</span>                    杭州乐读科技有限公司运营 :<a class="s-fc3" href="#">浙网文[2015] 0415-135号</a></p>
        </div>
        <ul class="enter f-fr">
          <li><a class="logo logo-musician f-tid" href="#"></a></li>
          <li><a class="logo logo-topic f-tid" href="#"></a></li>
          <li><a class="logo logo-midea f-tid" href="#"></a></li>
          <li><a class="logo logo-reward f-tid" href="#"></a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
<!-- <a href="#" class="m-back" id="g_backtop" title="回到顶部">回到顶部</a>-->