<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>网易云音乐</title>
    <link rel="stylesheet" href="下载客户端页面.css">
    <link class="ico" rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
  </head>
  <body>
    <!-- 顶部导航栏开始-->
    <div class="topBanner" id="topBanner">
      <div class="bannerinner" id="bannerinner">
        <div class="bgimg"></div>
        <ul>
          <li><a href="wyy">发现音乐</a></li>
          <li>|</li>
          <li><a href="myMusic">我的音乐</a></li>
          <li>|</li>
          <li><a href="friends">朋友</a></li>
          <li>|</li>
          <li><a href="demo" target="_blank">商城</a></li>
          <li>|</li>
          <li><a href="musicman">音乐人</a></li>
          <li>|</li>
          <li class="lastLi"><a href="javascript:location.reload()">下载客户端</a>
            <div class="hot"></div>
            <!-- <img src="img/hot.png" alt=""/>-->
            <div class="redtriangle"></div>
          </li>
        </ul>
        <div class="topSerach">
          <div class="searchTop">
            <div class="btnimg"></div>
            <input id="searchmusic" type="text" value="单曲/歌手/专辑/歌单/MV/用户">
          </div>
        </div>
        <div class="loginTop">
          <input type="button" value="登录">
          <div class="triangle" id="triangle"></div>
          <ul>
            <div class="ultriangle"></div>
            <li>
              <div class="li1"></div><a href="#">手机号登录</a>
            </li>
            <li>
              <div class="li2"></div><a href="#">微信登录</a>
            </li>
            <li>
              <div class="li3"></div><a href="#">QQ登录</a>
            </li>
            <li>
              <div class="li4"></div><a href="#">新浪微博登录</a>
            </li>
            <li>
              <div class="li5"></div><a href="#">网易邮箱账号</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="redMusic"></div>
    <!-- 顶部导航栏结束-->
    <!-- 导航栏下面轮播图开始-->
    <div class="ringpic">
      <div class="ww">
        <!-- 右边的精灵图部分开始-->
        <div class="rightPic">
          <div class="rightSprite" id="rightSprite">
            <ul>
              <li>
                <div class="sp1"></div><a href="#">安卓版</a><span>V4.1.2</span>
              </li>
              <li>
                <div class="sp2"></div><a href="#">iPid版</a><span>V1.6.1</span>
              </li>
              <li>
                <div class="sp3"></div><a href="#">PC版</a><span>V2.2.0</span>
              </li>
              <li>
                <div class="sp4"></div><a href="#">WP版</a><span>V1.5.0</span>
              </li>
            </ul>
            <ul>
              <li>
                <div class="sp21"></div><a href="#">iPhone版</a><span>V4.1.1</span>
              </li>
              <li>
                <div class="sp22"></div><a href="#">Mac版</a><span>V1.5.6</span>
              </li>
              <li>
                <div class="sp23"></div><a href="#">UWP版</a><span>V1.2.3</span>
              </li>
              <li>
                <div class="sp24"></div><a href="#">Linux版</a><span>V1.0.0</span>
              </li>
            </ul>
            <div class="spriteTop">
              <div class="Top1"></div><a class="Pc" href="#">PC版更新日志</a>
            </div>
          </div>
        </div>
        <!-- 右边的精灵图部分结束-->
        <!-- 左边的轮播图开始-->
        <div class="leftPic"><img id="images" src="xiazaiimg/banner0.png" alt="">
          <ol id="ol1">
            <li></li>
            <li></li>
            <li></li>
          </ol>
        </div>
      </div>
      <!-- 左边的轮播图结束-->
      <!-- 导航栏下面轮播图结束-->
      <!-- 扫描二维码开始-->
      <div class="appcode"><img src="xiazaiimg/code.png" alt=""></div>
      <!-- 扫描二维码结束-->
      <!-- 中部千万曲库开始-->
      <div class="songs">
        <div class="w">
          <div class="songs-describe">
            <h3>千万曲库 首首CD音质</h3>
            <p>囊括百万无损SQ音乐，你在用手机听歌时，</p>
            <p>也能感受到纤毫毕现的CD音质，更能免费离线收听</p>
          </div><img src="img/b1.jpg" alt="">
        </div>
      </div>
      <!-- 中部千万曲库结束-->
      <!-- 中部千万明星开始-->
      <div class="stars">
        <div class="w">
          <div class="starss-describe">
            <h3>千位明星 亲自推荐音乐</h3>
            <p>陶喆，羽泉等<em>千位明星已入驻</em>，亲自创建私房歌单，录制独</p>
            <p>家DJ节目，推荐他们心中的好音乐</p>
          </div><img src="xiazaiimg/b2.jpg" alt="">
        </div>
      </div>
      <!-- 中部千万明星结束-->
      <!-- 中部社交关系开始-->
      <div class="social-relation">
        <div class="w">
          <div class="relation-describe">
            <h3>社交关系 发现全新音乐</h3>
            <p>你可以<em>关注明星</em>、DJ和好友，通过浏览他们的动态、收藏和</p>
            <p>分享，发现更多全新好音乐</p>
          </div><img src="xiazaiimg/b3.jpg" alt="">
        </div>
      </div>
      <!-- 中部社交关系结束-->
      <!-- 中部手机电脑开始-->
      <div class="phonesongs">
        <div class="w">
          <div class="plist-describe">
            <h3>手机电脑 歌单实时同步</h3>
            <p>只要一个帐号，你就可以同步在手机、电脑上创建、收藏</p>
            <p>的歌单，<em>随时随地畅享好音乐</em></p>
          </div><img src="xiazaiimg/b4.jpg" alt="">
        </div>
      </div>
      <!-- 中部手机电脑结束-->
      <!-- 中部听歌识曲开始-->
      <div class="listening">
        <div class="w">
          <div class="listeningDs">
            <h3>听歌识曲 助你疯狂猜歌</h3>
            <p>歌曲很动听却不知道歌名，歌名在嘴边却想不起来……</p>
            <p>用<em>听歌识曲</em>功能，几秒钟就知道歌名</p>
          </div><img src="xiazaiimg/b5.jpg" alt="">
        </div>
      </div>
      <!-- 中部听歌识曲结束-->
      <!-- 底部网易云音乐开始-->
      <div class="footMusic">
        <h2>网易云音乐</h2>
        <p>下载网易云音乐客户端，随时随地畅享动听好音乐</p>
        <ul>
          <li><img src="xiazaiimg/b8.jpg" alt=""></li>
          <li><img src="xiazaiimg/b6.png" alt=""></li>
          <li><img src="xiazaiimg/b9.jpg" alt=""></li>
          <li><img src="xiazaiimg/b7.png" alt=""></li>
          <li><img src="xiazaiimg/b10.png" alt=""></li>
        </ul>
        <ol>
          <li class="a1"><a href="#">PC版下载</a></li>
          <li class="a2"><a href="#">iPhone版下载</a></li>
          <li class="a3"><a href="#">iPad下载</a></li>
          <li class="a4"><a href="#">安卓版下载</a></li>
          <li class="a5"><a href="#">UWP版下载</a></li>
        </ol>
      </div>
      <!-- 底部网易云音乐结束-->
      <!-- 底部关于网易开始-->
      <div class="footer">
        <div class="footw">
          <div class="foot-describe">
            <ul>
              <li><a href="#">关于网易</a></li>
              <li>|</li>
              <li><a href="#">客户服务</a></li>
              <li>|</li>
              <li><a href="#">服务条款</a></li>
              <li>|</li>
              <li><a href="#">网站导航</a></li>
              <li>|</li>
              <li><a href="#">意见反馈</a></li>
            </ul>
            <p>网易公司版权所有©1997-2017  杭州乐读科技有限公司运营：浙网文[2015] 0415-135号</p>
          </div>
          <div class="footpictures">
            <ul>
              <li></li>
              <li class="lisTwo"></li>
              <li class="lisThree"></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- 底部关于网易结束-->
      <!-- 底部播放器开始-->
      <div class="g-btmbar" id="g-btmbar">
        <div class="g-btmbar-p" id=".g-btmbar-p">
          <div class="m-playbar m-playbar-lock" id="auto-id-fpboJHu88h3Feay2" style="top:-53px; visibility: visible;">
            <div class="updn">
              <div class="left f-f1"><a class="btn1" id="fixBtn1" href="javascript:void(0);"></a><a class="btn2" id="fixBtn2" href="javascript:void(0);"></a></div>
              <div class="right f-f1"></div>
            </div>
            <div class="bg"></div>
            <div class="wrap" id="g_player">
              <div class="btns"><a class="prv" id="prv" href="#"></a>
                <div class="ply j-fkag" id="ply01">
                  <audio id="songs1" src="audios/01.mp3" type="audio/mpeg " name="songs1" autostart="false"></audio>
                </div><a class="plys j-fkag" id="ply02" href="#"></a><a class="nxt" id="next" href="#"></a>
              </div>
              <div class="head j-flag"><a class="mask" href="#"><img src="xiazaiimg/default_album.jpg" alt=""></a></div>
              <div class="play">
                <div class="j-flag words"></div>
                <div class="m-pbar">
                  <div class="barbg" id="auto-id-ODscgwD3lbnJdK0A">
                    <div class="rdy" style="width: 0%;"></div>
                    <div class="cur"></div>
                  </div><span class="j-flag time"><em>00:00</em> / 00:00</span>
                </div>
              </div>
              <div class="oper f-fl"><a class="icn icn-add j-flag" href="#" title="收藏"></a><a class="icn icn-share" href="#" title="分享"></a></div>
              <div class="ctrl f-fl f-pr j-flag">
                <div class="m-vol" id="auto-id-epndKXTBrRZxUtTX" style="visibility:hidden;">
                  <div class="barbg"></div>
                  <div class="vbg j-t" id="auto-id-Ps01blhP4eMKXBgn">
                    <div class="curr j-t" style="height: 74.4px;"></div><span class="btn f-alpha j-t" style="top: 16.2px;"></span>
                  </div>
                </div><a class="icn icn-vol" href="#"></a><a class="icn icn-loop" href="#"></a><span class="add f-pr"><span class="tip" style="display: none;"></span><a class="icn icn-list s-fc3" href="#" title="播放列表">0</a></span>
                <div class="tip tip-1" style="display: none;">循环</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 底部播放器结束-->
      <script src="xiazailib/jquery-1.12.4.min.js"></script>
      <script src="common.js"></script>
      <script src="下载客户端页面.js"></script>
    </div>
  </body>
</html>