<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>网易云音乐</title>
    <link rel="stylesheet" href="friendscss/base.css">
    <link class="ico" rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    <link rel="stylesheet" href="friendscss/friends.css">
    <script src="../friendsjs/animate.js"></script>
    <script src="friendsjs/jquery-1.12.4.min.js"></script>
    <script src="friendsjs/content.js"></script>
  </head>
  <body>
    <div class="top">
      <div class="w">
        <div class="logo"></div>
        <div class="neirong" id="nr">
          <ul>
            <li><a href="wyy">发现音乐</a></li>
            <li class="line"></li>
            <li><a href="myMusic">我的音乐</a></li>
            <li class="line"></li>
            <li><a href="javascript:location.reload()">朋友</a></li>
            <li class="line"></li>
            <li><a href="demo" target="_blank">商城</a></li>
            <li class="line"></li>
            <li><a href="musicman">音乐人</a></li>
            <li class="line"></li>
            <li><a href="下载客户端页面">下载客户端</a></li>
          </ul>
        </div>
        <div class="login-block" id="loginBlock">
          <ul>
            <li><a href="#"><i class="icon-phone"></i><em>手机号登陆</em></a></li>
            <li><a href="#"><i class="icon-wechart"></i><em>微信登陆</em></a></li>
            <li><a href="#"><i class="icon-qq"></i><em>QQ登陆</em></a></li>
            <li><a href="#"><i class="icon-weibo"></i><em>微博登陆</em></a></li>
            <li><a href="#"><i class="icon-nest"></i><em>网易邮箱账号登陆</em></a></li>
          </ul>
          <div class="sanjiaojian"></div>
        </div>
      </div>
      <div class="seek">
        <input id="text" type="text" value="单曲/歌手/专辑/歌单/MV/用户">
      </div>
      <div class="hot"></div>
      <div class="deng" id="deng"><a href="#">登录</a></div>
      <div class="daosan" id="daosan"></div>
    </div>
    <script src="friendsjs/topBar.js"></script>
    <div class="redBar">
      <div class="w">
        <div class="redsanjiao"></div>
      </div>
    </div>
    <div class="content">
      <div class="w">
        <div class="notlogin"><a id="login" href="javascript:void(0)"></a></div>
        <div class="login-block" id="login-block">
          <div class="header"><span>登陆</span><i id="closeContent">x</i></div>
          <div class="login-block-content">
            <div class="u-main">
              <div class="u-pic"></div><a class="phone-login" href="#">手机号登陆</a><a class="submit" href="">注册</a>
            </div>
            <div class="u-alt">
              <ul>
                <li><a href="#"><i class="icon-wechart"></i>微信登陆</a></li>
                <li><a href="#"><i class="icon-qq"></i>QQ登陆</a></li>
                <li><a href="#"><i class="icon-weibo"></i>微博登陆</a></li>
                <li><a href="#"><i class="icon-nest"></i>网易邮箱账号登陆</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="g-ft">
      <div class="m-ft">
        <div class="w f-cb">
          <div class="copy">
            <p><a class="s-fc4" href="#">关于网易</a><span class="line"></span><a class="s-fc4" href="#">客户服务</a><span class="line"></span><a class="s-fc4" href="#">服务条款</a><span class="line"></span><a class="s-fc4" href="#">网站导航</a><span class="line"></span><a class="s-fc4" href="#">意见反馈</a></p>
            <p class="s-fc3"><span class="sep">网易公司版权所有©1997-2017</span>                    杭州乐读科技有限公司运营 :<a class="s-fc3" href="#">浙网文[2015] 0415-135号</a></p>
          </div>
          <ul class="enter f-fr">
            <li><a class="logo logo-musician f-tid" href="#"></a></li>
            <li><a class="logo logo-topic f-tid" href="#"></a></li>
            <li><a class="logo logo-midea f-tid" href="#"></a></li>
            <li><a class="logo logo-reward f-tid" href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
<!-- <a href="#" class="m-back" id="g_backtop" title="回到顶部">回到顶部</a>-->
<div class="g-btmbar" id="g-btmbar">
  <div class="g-btmbar-p" id=".g-btmbar-p">
    <div class="m-playbar m-playbar-lock" id="auto-id-fpboJHu88h3Feay2" style="top:-53px; visibility: visible;">
      <div class="updn">
        <div class="left f-f1"><a class="btn1" id="fixBtn1" href="javascript:void(0);"></a><a class="btn2" id="fixBtn2" href="javascript:void(0);"></a></div>
        <div class="right f-f1"></div>
      </div>
      <div class="bg"></div>
      <div class="wrap" id="g_player">
        <div class="btns"><a class="prv" href="#"></a><a class="ply j-fkag" href="#"></a><a class="plys j-fkag" href="#"></a><a class="nxt" href="#"></a></div>
        <div class="head j-flag"><a class="mask" href="#"><img src="friendsimg/default_album.jpg" alt=""></a></div>
        <div class="play">
          <div class="j-flag words"></div>
          <div class="m-pbar">
            <div class="barbg j-flag" id="auto-id-ODscgwD3lbnJdK0A">
              <div class="rdy" style="width: 0%;"></div>
              <div class="cur" style="width: 0%;"><span class="btn f-tdn f-alpha" id="auto-id-bxCC3M0eRZD76VpR"><i></i></span></div>
            </div><span class="j-flag time"><em>00:00</em> / 00:00</span>
          </div>
        </div>
        <div class="oper f-fl"><a class="icn icn-add j-flag" href="#" title="收藏"></a><a class="icn icn-share" href="#" title="分享"></a></div>
        <div class="ctrl f-fl f-pr j-flag">
          <div class="m-vol" id="auto-id-epndKXTBrRZxUtTX" style="visibility:hidden;">
            <div class="barbg"></div>
            <div class="vbg j-t" id="auto-id-Ps01blhP4eMKXBgn">
              <div class="curr j-t" style="height: 74.4px;"></div><span class="btn f-alpha j-t" style="top: 16.2px;"></span>
            </div>
          </div><a class="icn icn-vol" href="#"></a><a class="icn icn-loop" href="#"></a><span class="add f-pr"><span class="tip" style="display: none;"></span><a class="icn icn-list s-fc3" href="#" title="播放列表">0</a></span>
          <div class="tip tip-1" style="display: none;">循环</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../friendsjs/footer-js.js"></script>