doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title 网易云音乐
        meta(name='renderer', content='webkit')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
        link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
        link(rel='stylesheet', type='text/css', href='logincss/main.css')
        link(rel='stylesheet', href='css/base.css')
        link(rel='stylesheet', href='css/index.css')
        link.ico(rel='shortcut icon', type='image/x-icon', href='../favicon.ico')
        script(src='js/tools.js')
        script(src='js/common.js')
        script(src='js/demo06.js')
        script(src='js/animate.js')
        script(src='js/register.js')
        link(rel='stylesheet', href='mymusiccss/base.css')
        link(rel='stylesheet', href='mymusiccss/login.css')
        link.ico(rel='shortcut icon', type='image/x-icon', href='../favicon.ico')
        script(src='../mymusicjs/animate.js')
    body#login
        .top
            .w
                .logo
                #nr.neirong
                    ul
                        li
                            a(href='wyy') 发现音乐
                        li.line
                        li
                            a(href='mymusic') 我的音乐
                        li.line
                        li
                            a(href='friends') 朋友
                        li.line
                        li
                            a(href='demo') 商城
                        li.line
                        li
                            a(href='musicman') 音乐人
                        li.line
                        li
                            a(href='download') 下载客户端
                #loginBlock.login-block
                    ul
                        li
                            a(href='#')
                                i.icon-phone
                                em 手机号登陆
                        li
                            a(href='#')
                                i.icon-wechart
                                em 微信登陆
                        li
                            a(href='#')
                                i.icon-qq
                                em QQ登陆
                        li
                            a(href='#')
                                i.icon-weibo
                                em 微博登陆
                        li
                            a(href='#')
                                i.icon-nest
                                em 网易邮箱账号登陆
                    .sanjiaojian

            .hot
            #deng.deng
                a(href='#') 登录
            #daosan.daosan
        script(src='mymusicjs/topBar.js')
        .redBar
            .w
                .redsanjiao
        // main的开始
        .login-main
            .login-slider-main.w
                .login-pglg


                    #content

                        #login-box
                            .way.lg-account
                                .lg-tip
                                    h4 密码登录
                                    p
                                        i.iconfont.sd-icon 
                                        |                        扫码登录更方便
                                        b.triangle.outer
                                        span.triangle.inner
                                    i.iconfont.way-icon 
                                form#account-form(method='post', onsubmit='return toValid()', action='denglu')
                                    div
                                        label(for='user')
                                            i.iconfont 
                                        input#user(type='text', name='user', placeholder='手机号/会员名/邮箱')

                                    div
                                        label(for='pass')
                                            i.iconfont 
                                        input#pass(type='password', name='pass',placeholder='请输入密码')
                                    input#lg-btn(type='submit', name='submit', value='登 录')

                                p.lg-links
                                    a(href='forgot_pass.html') 忘记密码
                                    a(href='register') 免费注册
                                p#lg-error
                                    i.iconfont.error-icon 
                                    span
                            .way.lg-qrcode
                                .lg-tip
                                    h4 扫码登录，防止盗号
                                    i.iconfont.way-icon 
                                .qrcode-err
                                    p 二维码已失效
                                    a#fresh(href='#') 请点击刷新
                                .qrcode-main
                                    img#qrcode(src='loginimg/login-ewm.png', al'二维码')
                                    .qrcode-help
                                        img(src='loginimg/login-help.png', alt='帮助')
                                .qrcode-desc.clear
                                    i.iconfont 
                                    p
                                        | 打开
                                        a(href='#') 手机网易云
                                        |

                                        |                        扫一扫登录
                                p.lg-links
                                    a#tab-way(href='#') 账号密码登录
                                    a(href='#') 免费注册



        // login-vip的开始
        #loginVip.login-vip
            #loginTitle.login-title
                | 登录
                span.close-login-bg
                    a#closeBtn.close-login(href='javascript:void(0);')   
            .login-input-content
                .login-input
                    .iphone-input
                        a(href='#') 手机号登录
                    .zhuce-input
                        a(href='register') 注   册
                    #loginBtn.login-button
                        .weico
                        a.weico-login(href='#') 微信登录
                        .qq
                        a.qq-login(href='#') QQ登录
                        .sina
                        a.sina-login(href='#') 微博登录
                        .wyiemail
                        a.wyemail-login(href='#') 网易邮箱账号登录
        .g-ft
            .m-ft
                .w.f-cb
                    .copy
                        p
                            a.s-fc4(href='#') 关于网易
                            span.line
                            a.s-fc4(href='#') 客户服务
                            span.line
                            a.s-fc4(href='#') 服务条款
                            span.line
                            a.s-fc4(href='#') 网站导航
                            span.line
                            a.s-fc4(href='#') 意见反馈
                        p.s-fc3
                            span.sep 网易公司版权所有©1997-2017
                            |                     杭州乐读科技有限公司运营 :
                            a.s-fc3(href='#') 浙网文[2015] 0415-135号
                    ul.enter.f-fr
                        li
                            a.logo.logo-musician.f-tid(href='#')
                        li
                            a.logo.logo-topic.f-tid(href='#')
                        li
                            a.logo.logo-midea.f-tid(href='#')
                        li
                            a.logo.logo-reward.f-tid(href='#')

    // <a href="#" class="m-back" id="g_backtop" title="回到顶部">回到顶部</a>
    #g-btmbar.g-btmbar
        .g-btmbar-p(id='.g-btmbar-p')
            #auto-id-fpboJHu88h3Feay2.m-playbar.m-playbar-lock(style='top:-53px; visibility: visible;')
                .updn
                    .left.f-f1
                        a#fixBtn1.btn1(href='javascript:void(0);')
                        a#fixBtn2.btn2(href='javascript:void(0);')
                    .right.f-f1
                .bg
                #g_player.wrap
                    .btns
                        a.prv(href='#')
                        a.ply.j-fkag(href='#')
                        a.plys.j-fkag(href='#')
                        a.nxt(href='#')
                    .head.j-flag
                        a.mask(href='#')
                            img(src='mymusicimg/default_album.jpg', alt='')
                    .play
                        .j-flag.words
                        .m-pbar
                            #auto-id-ODscgwD3lbnJdK0A.barbg.j-flag
                                .rdy(style='width: 0%;')
                                .cur(style='width: 0%;')
                                    span#auto-id-bxCC3M0eRZD76VpR.btn.f-tdn.f-alpha
                                        i
                            span.j-flag.time
                                em 00:00
                                |  / 00:00
                    .oper.f-fl
                        a.icn.icn-add.j-flag(href='#', title='收藏')
                        a.icn.icn-share(href='#', title='分享')
                    .ctrl.f-fl.f-pr.j-flag
                        #auto-id-epndKXTBrRZxUtTX.m-vol(style='visibility:hidden;')
                            .barbg
                            #auto-id-Ps01blhP4eMKXBgn.vbg.j-t
                                .curr.j-t(style='height: 74.4px;')
                                span.btn.f-alpha.j-t(style='top: 16.2px;')
                        a.icn.icn-vol(href='#')
                        a.icn.icn-loop(href='#')
                        span.add.f-pr
                            span.tip(style='display: none;')
                            a.icn.icn-list.s-fc3(href='#', title='播放列表') 0
                        .tip.tip-1(style='display: none;') 循环
    script(src='mymusicjs/tools.js')
    script(src='mymusicjs/login.js')
    script(type='text/javascript', src='loginjs/form.js')
    script(type='text/javascript', src='loginjs/SHA1.js')


    script(src='../mymusicjs/footer-js.js')
