<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>网易云音乐</title>
    <link rel="stylesheet" href="musicmancss/base.css">
    <link rel="stylesheet" href="musicmancss/music-man.css">
  </head>
  <body class="music-oh">
    <div class="home" id="home" style="transition: none; top: 0px;">
      <!-- 右边导航栏的开始-->
      <ul class="music-switch">
        <li class="music-8"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <!-- 右边导航栏的结束-->
      <!-- 头部区域的开始-->
      <div class="header">
        <div class="music-top"><a class="music-logo" href="wyy">网易云音乐</a>
          <ul class="music-nav">
            <li><a class="music-sy" href="wyy">首页</a></li>
            <li><a class="music-geren" href="#">个人中心</a></li>
            <li><a class="music-wenti" href="#">常见问题</a></li>
          </ul>
          <div class="login"><a class="music-entr" href="#">加入音乐人</a><span>您还未登录,请先</span><a class="music-login2" href="mymusic">登录</a></div>
        </div>
      </div>
      <!-- 头部区域的结束-->
      <!-- 第一部分主体部分的开始-->
      <div class="table-h">
        <div class="content">
          <h1 class="welcome">欢迎所有音乐『妄想』</h1><a class="now-entr" href="#">现在加入</a>
        </div>
        <div class="btn"><a class="icn u-hicn-1" href="#"></a><a class="icn u-hicn-2" href="#"></a><a class="icn u-hicn-3" href="#"></a></div>
      </div>
      <!-- 第一部分主体结束-->
      <!-- 第二部分主体开始-->
      <div class="table-w">
        <div class="content">
          <h2 class="table-w-tit">自助式作品管理</h2>
          <ul>
            <li class="w-comb"><i class="icn u-hicn-4"></i>
              <h3>绿色通道,快速发布</h3>
              <p>专属上传通道，发布即上线，<br>让您的作品第一时间和粉丝见面</p>
            </li>
            <li class="w-comb"><i class="icn u-hicn-5"></i>
              <h3>透明、直观的数据报表</h3>
              <p>每日更新作品数据、粉丝数据，<br>帮助您更好的运营自己</p>
            </li>
            <li class="w-comb"><i class="icn u-hicn-6"></i>
              <h3>简单易用的作品管理</h3>
              <p>从封面、曲风到歌词编辑，<br>强大又好用的作品管理</p>
            </li>
          </ul>
        </div>
      </div>
      <!-- 第二部分主体结束-->
      <!-- 第三部分主体开始-->
      <div class="table-pose">
        <div class="content">
          <h2 class="table-w-tit">多维度曝光</h2>
          <p class="sup">您安心做好音乐，剩下的交给我们</p>
          <div class="banners" id="musicBanners">
            <div class="slide" id="musicSlide">
              <ul class="j-flag" id="musicUl" style="transition: ease-out 0s; left: 0px;">
                <li>
                  <h3>赵雷《无法长大》销量破20万，创独立音乐全网新标杆</h3>
                  <p class="date">2017-02</p>
                  <div class="mask"></div><img class="pic" src="musicmanimg/zhaolei.jpg">
                </li>
                <li>
                  <h3>石头计划落地，向所有音乐人开通赞赏</h3>
                  <p class="date">2017-02</p>
                  <div class="mask"></div><img class="pic" src="musicmanimg/luodi.jpg">
                </li>
                <li>
                  <h3>发布《中国独立音乐人生存现状报告》</h3>
                  <p class="date">2016-12</p>
                  <div class="mask"></div><img class="pic" src="musicmanimg/duli.jpg">
                </li>
                <li>
                  <h3>李志《在每一条伤心的应天大街上》两天销售额破百万创纪录</h3>
                  <p class="date">2016-11</p>
                  <div class="mask"></div><img class="pic" src="musicmanimg/lizhi.jpg">
                </li>
                <li>
                  <h3>启动“石头计划” 拟一年2亿扶持独立音乐人</h3>
                  <p class="date">2016-11</p>
                  <div class="mask"></div><img class="pic" src="musicmanimg/shitoujihua.jpg">
                </li>
                <li>
                  <h3>陈粒《小梦大半》销售额破百万</h3>
                  <p class="date">2016-08</p>
                  <div class="mask"></div><img class="pic" src="musicmanimg/01.jpg">
                </li>
                <li>
                  <h3>启动理想音乐行走季，打造国内首部音乐公路电影</h3>
                  <p class="date">2016-07</p>
                  <div class="mask"></div><img class="pic" src="musicmanimg/07.jpg">
                </li>
                <li>
                  <h3>启动理想音乐人计划，携独立音乐人走进高校</h3>
                  <p class="date">2015-10</p>
                  <div class="mask"></div><img class="pic" src="musicmanimg/03.jpg">
                </li>
                <li>
                  <h3>投拍李志第一支MV —《山阴路的夏天》</h3>
                  <p class="date">2014-09</p>
                  <div class="mask"></div><img class="pic" src="musicmanimg/04.jpg">
                </li>
                <li>
                  <h3>与太平洋咖啡合作举办“原创音乐人咖啡之旅”</h3>
                  <p class="date">2014-08</p>
                  <div class="mask"></div><img class="pic" src="musicmanimg/05.jpg">
                </li>
                <li>
                  <h3>举办线下演出《 听见好时光 . 网易音乐人Live》</h3>
                  <p class="date">2014-08</p>
                  <div class="mask"></div><img class="pic" src="musicmanimg/06.jpg">
                </li>
              </ul>
            </div>
            <div class="pose-left pose-hicn8" id="poseLeft"></div>
            <div class="pose-right pose-hicn9" id="poseRight"></div>
          </div>
        </div>
      </div>
      <!-- 第三部分主体结束-->
      <!-- 第四部分主体开始-->
      <div class="table-inc">
        <div class="content">
          <h2 class="table-inc-tit">丰富的变现模式</h2>
          <p class="sup">除了加入会员项目、售卖数字专辑外，您还可以通过开通赞赏、售卖周边获取额外收入</p>
          <ul>
            <li>
              <p class="pic1"></p>
              <p>专辑累计销量227785张</p>
            </li>
            <li>
              <p class="pic2"></p>
              <p>专辑累计销量303196张</p>
            </li>
            <li>
              <p class="pic3"></p>
              <p>专辑累计销量127765张</p>
            </li>
          </ul>
        </div>
      </div>
      <!-- 第四部分主体结束-->
      <!-- 第五部分主体开始-->
      <div class="table-exp">
        <div class="content">
          <h2 class="table-e-tit">业内首创音乐人指数</h2><i class="u-hicn-11"></i>
          <p class="quo">音乐人指数是网易云音乐针对音乐人推出的一项综合指标，以直观的<br>分数形式体现音乐人在平台上的影响力，指数越高，享受的权益也越多</p><i class="u-hicn-12"></i><a class="u-hicn-13" href="#"></a>
        </div>
      </div>
      <!-- 第五部分主体结束-->
      <!-- 第六部分主体开始-->
      <div class="table-step">
        <div class="content">
          <h2 class="table-s-tit">只需三步轻松成为网易音乐人</h2>
          <p class="sup">想要成为网易音乐人很简单，只要按照下面的介绍完成三个步骤的操作，我们承诺会在工作日24小时内完成审核！</p>
          <ul>
            <li>
              <p class="step-one">第一步</p>
              <p class="tit">阅读协议</p><i class="u-hicn-15 u-hicn-14"></i>
              <p class="text-one">由专业的法务团队提供合作协议<br>并将其中关于版权的部分着重显示<br>您关心的，我们也最为珍惜</p>
            </li>
            <li>
              <p class="step-one">第二步</p>
              <p class="tit">提交资料</p><i class="u-hicn-16 u-hicn-14"></i>
              <p class="text-one">提供您的基本信息<br>以便验明真身，获得更好的服务<br>我们不会将信息透露给任何第三方</p>
            </li>
            <li>
              <p class="step-one">第三步</p>
              <p class="tit">等待审核</p><i class="u-hicn-17 u-hicn-14"></i>
              <p class="text-one">承诺24小时内完成审核<br>我们和您一样讨厌等待<br>尤其是激动人心的时刻到来之前</p>
            </li>
          </ul>
        </div>
      </div>
      <!-- 第六部分主体结束-->
      <!-- 底部开始-->
      <div class="table-footer">
        <div class="content">
          <h2 class="table-f-tit">我们在这里等您</h2>
          <p class="sup">入驻音乐人20000+ 上传作品数400000+</p>
          <ul class="footer-cb">
            <li><a href="#">
                <div class="pic"><img src="musicmanimg/f1.jpg">
                  <div class="mask">
                    <p>粉丝：13万<br>作品：99首</p>
                  </div>
                </div>
                <h3 class="rts">满舒克</h3></a></li>
            <li><a href="#">
                <div class="pic"><img src="musicmanimg/f2.jpg">
                  <div class="mask">
                    <p>粉丝：5万<br>作品：697首</p>
                  </div>
                </div>
                <h3 class="rts">Kyle Xian</h3></a></li>
            <li><a href="#">
                <div class="pic"><img src="musicmanimg/f3.jpg">
                  <div class="mask">
                    <p>粉丝：25万<br>作品：26首</p>
                  </div>
                </div>
                <h3 class="rts">以冬</h3></a></li>
            <li><a href="#">
                <div class="pic"><img src="musicmanimg/f4.jpg">
                  <div class="mask">
                    <p>粉丝：13万<br>作品：62首</p>
                  </div>
                </div>
                <h3 class="rts">回音哥</h3></a></li>
            <li><a href="#">
                <div class="pic"><img src="musicmanimg/f5.jpg">
                  <div class="mask">
                    <p>粉丝：5万<br>作品：29首</p>
                  </div>
                </div>
                <h3 class="rts">纣王老胡</h3></a></li>
            <li><a href="#">
                <div class="pic"><img src="musicmanimg/f6.jpg">
                  <div class="mask">
                    <p>粉丝：3万<br>作品：2首</p>
                  </div>
                </div>
                <h3 class="rts">陈雪凝</h3></a></li>
          </ul><a class="footer-entr" href="#">现在加入</a>
        </div>
        <!-- 底部结束-->
        <div class="footer-out">
          <div class="footer-night">
            <div class="m-ft">
              <div class="wrap">
                <div class="copy">
                  <p class="fo-2"><a href="#">关于网易</a><span class="line">|</span><a href="#">客户服务</a><span class="line">|</span><a href="#">服务条款</a><span class="line">|</span><a href="#">网站导航</a><span class="line">|</span><a href="#">意见反馈</a></p>
                  <p class="fo-3"><span class="sep">网易公司版权所有©1997-2017</span>杭州乐读科技有限公司运营：<a class="fo-4" href="#">浙网文[2015] 0415-135号</a></p>
                </div>
                <ul class="footer-fr">
                  <li><a class="footer-logo logo-musician1" href="#"></a></li>
                  <li><a class="footer-logo logo-musician2" href="#"></a></li>
                  <li><a class="footer-logo logo-musician3" href="#"></a></li>
                  <li><a class="footer-logo logo-musician4" href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="musicmanjs/animate.js"></script>
    <script src="musicmanjs/jquery-1.12.4.min.js"></script>
    <script src="musicmanjs/music-man.js"></script>
  </body>
</html>