doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        title 网易云音乐
        link(rel='stylesheet', href='musicmancss/base.css')
        link(rel='stylesheet', href='musicmancss/music-man.css')
    body.music-oh
        #home.home(style='transition: none; top: 0px;')
            // 右边导航栏的开始
            ul.music-switch
                li.music-8
                li
                li
                li
                li
                li
                li
            // 右边导航栏的结束
            // 头部区域的开始
            .header
                .music-top
                    a.music-logo(href='wyy') 网易云音乐
                    ul.music-nav
                        li
                            a.music-sy(href='wyy') 首页
                        li
                            a.music-geren(href='#') 个人中心
                        li
                            a.music-wenti(href='#') 常见问题
                    .login
                        a.music-entr(href='#') 加入音乐人
                        span 您还未登录,请先
                        a.music-login2(href='mymusic') 登录
            // 头部区域的结束
            // 第一部分主体部分的开始
            .table-h
                .content
                    h1.welcome 欢迎所有音乐『妄想』
                    a.now-entr(href='#') 现在加入
                .btn
                    a.icn.u-hicn-1(href='#')
                    a.icn.u-hicn-2(href='#')
                    a.icn.u-hicn-3(href='#')
            // 第一部分主体结束
            // 第二部分主体开始
            .table-w
                .content
                    h2.table-w-tit
                        | 自助式作品管理
                    ul
                        li.w-comb
                            i.icn.u-hicn-4
                            h3 绿色通道,快速发布
                            p
                                | 专属上传通道，发布即上线，
                                br
                                | 让您的作品第一时间和粉丝见面
                        li.w-comb
                            i.icn.u-hicn-5
                            h3 透明、直观的数据报表
                            p
                                | 每日更新作品数据、粉丝数据，
                                br
                                | 帮助您更好的运营自己
                        li.w-comb
                            i.icn.u-hicn-6
                            h3 简单易用的作品管理
                            p
                                | 从封面、曲风到歌词编辑，
                                br
                                | 强大又好用的作品管理
            // 第二部分主体结束
            // 第三部分主体开始
            .table-pose
                .content
                    h2.table-w-tit 多维度曝光
                    p.sup 您安心做好音乐，剩下的交给我们
                    #musicBanners.banners
                        #musicSlide.slide
                            ul#musicUl.j-flag(style='transition: ease-out 0s; left: 0px;')
                                li
                                    h3 赵雷《无法长大》销量破20万，创独立音乐全网新标杆
                                    p.date 2017-02
                                    .mask
                                    img.pic(src='musicmanimg/zhaolei.jpg')
                                li
                                    h3 石头计划落地，向所有音乐人开通赞赏
                                    p.date 2017-02
                                    .mask
                                    img.pic(src='musicmanimg/luodi.jpg')
                                li
                                    h3 发布《中国独立音乐人生存现状报告》
                                    p.date 2016-12
                                    .mask
                                    img.pic(src='musicmanimg/duli.jpg')
                                li
                                    h3 李志《在每一条伤心的应天大街上》两天销售额破百万创纪录
                                    p.date 2016-11
                                    .mask
                                    img.pic(src='musicmanimg/lizhi.jpg')
                                li
                                    h3 启动“石头计划” 拟一年2亿扶持独立音乐人
                                    p.date 2016-11
                                    .mask
                                    img.pic(src='musicmanimg/shitoujihua.jpg')
                                li
                                    h3 陈粒《小梦大半》销售额破百万
                                    p.date 2016-08
                                    .mask
                                    img.pic(src='musicmanimg/01.jpg')
                                li
                                    h3 启动理想音乐行走季，打造国内首部音乐公路电影
                                    p.date 2016-07
                                    .mask
                                    img.pic(src='musicmanimg/07.jpg')
                                li
                                    h3 启动理想音乐人计划，携独立音乐人走进高校
                                    p.date 2015-10
                                    .mask
                                    img.pic(src='musicmanimg/03.jpg')
                                li
                                    h3 投拍李志第一支MV —《山阴路的夏天》
                                    p.date 2014-09
                                    .mask
                                    img.pic(src='musicmanimg/04.jpg')
                                li
                                    h3 与太平洋咖啡合作举办“原创音乐人咖啡之旅”
                                    p.date 2014-08
                                    .mask
                                    img.pic(src='musicmanimg/05.jpg')
                                li
                                    h3 举办线下演出《 听见好时光 . 网易音乐人Live》
                                    p.date 2014-08
                                    .mask
                                    img.pic(src='musicmanimg/06.jpg')
                        #poseLeft.pose-left.pose-hicn8
                        #poseRight.pose-right.pose-hicn9
            // 第三部分主体结束
            // 第四部分主体开始
            .table-inc
                .content
                    h2.table-inc-tit 丰富的变现模式
                    p.sup 除了加入会员项目、售卖数字专辑外，您还可以通过开通赞赏、售卖周边获取额外收入
                    ul
                        li
                            p.pic1
                            p 专辑累计销量227785张
                        li
                            p.pic2
                            p 专辑累计销量303196张
                        li
                            p.pic3
                            p 专辑累计销量127765张
            // 第四部分主体结束
            // 第五部分主体开始
            .table-exp
                .content
                    h2.table-e-tit 业内首创音乐人指数
                    i.u-hicn-11
                    p.quo
                        | 音乐人指数是网易云音乐针对音乐人推出的一项综合指标，以直观的
                        br
                        | 分数形式体现音乐人在平台上的影响力，指数越高，享受的权益也越多
                    i.u-hicn-12
                    a.u-hicn-13(href='#')
            // 第五部分主体结束
            // 第六部分主体开始
            .table-step
                .content
                    h2.table-s-tit 只需三步轻松成为网易音乐人
                    p.sup 想要成为网易音乐人很简单，只要按照下面的介绍完成三个步骤的操作，我们承诺会在工作日24小时内完成审核！
                    ul
                        li
                            p.step-one 第一步
                            p.tit 阅读协议
                            i.u-hicn-15.u-hicn-14
                            p.text-one
                                | 由专业的法务团队提供合作协议
                                br
                                | 并将其中关于版权的部分着重显示
                                br
                                | 您关心的，我们也最为珍惜
                        li
                            p.step-one 第二步
                            p.tit 提交资料
                            i.u-hicn-16.u-hicn-14
                            p.text-one
                                | 提供您的基本信息
                                br
                                | 以便验明真身，获得更好的服务
                                br
                                | 我们不会将信息透露给任何第三方
                        li
                            p.step-one 第三步
                            p.tit 等待审核
                            i.u-hicn-17.u-hicn-14
                            p.text-one
                                | 承诺24小时内完成审核
                                br
                                | 我们和您一样讨厌等待
                                br
                                | 尤其是激动人心的时刻到来之前
            // 第六部分主体结束
            // 底部开始
            .table-footer
                .content
                    h2.table-f-tit 我们在这里等您
                    p.sup 入驻音乐人20000+ 上传作品数400000+
                    ul.footer-cb
                        li
                            a(href='#')
                                .pic
                                    img(src='musicmanimg/f1.jpg')
                                    .mask
                                        p
                                            | 粉丝：13万
                                            br
                                            | 作品：99首
                                h3.rts 满舒克
                        li
                            a(href='#')
                                .pic
                                    img(src='musicmanimg/f2.jpg')
                                    .mask
                                        p
                                            | 粉丝：5万
                                            br
                                            | 作品：697首
                                h3.rts Kyle Xian
                        li
                            a(href='#')
                                .pic
                                    img(src='musicmanimg/f3.jpg')
                                    .mask
                                        p
                                            | 粉丝：25万
                                            br
                                            | 作品：26首
                                h3.rts 以冬
                        li
                            a(href='#')
                                .pic
                                    img(src='musicmanimg/f4.jpg')
                                    .mask
                                        p
                                            | 粉丝：13万
                                            br
                                            | 作品：62首
                                h3.rts 回音哥
                        li
                            a(href='#')
                                .pic
                                    img(src='musicmanimg/f5.jpg')
                                    .mask
                                        p
                                            | 粉丝：5万
                                            br
                                            | 作品：29首
                                h3.rts 纣王老胡
                        li
                            a(href='#')
                                .pic
                                    img(src='musicmanimg/f6.jpg')
                                    .mask
                                        p
                                            | 粉丝：3万
                                            br
                                            | 作品：2首
                                h3.rts 陈雪凝
                    a.footer-entr(href='#') 现在加入
                // 底部结束
                .footer-out
                    .footer-night
                        .m-ft
                            .wrap
                                .copy
                                    p.fo-2
                                        a(href='#') 关于网易
                                        span.line |
                                        a(href='#') 客户服务
                                        span.line |
                                        a(href='#') 服务条款
                                        span.line |
                                        a(href='#') 网站导航
                                        span.line |
                                        a(href='#') 意见反馈
                                    p.fo-3
                                        span.sep 网易公司版权所有©1997-2017
                                        | 杭州乐读科技有限公司运营：
                                        a.fo-4(href='#') 浙网文[2015] 0415-135号
                                ul.footer-fr
                                    li
                                        a.footer-logo.logo-musician1(href='#')
                                    li
                                        a.footer-logo.logo-musician2(href='#')
                                    li
                                        a.footer-logo.logo-musician3(href='#')
                                    li
                                        a.footer-logo.logo-musician4(href='#')
        script(src='musicmanjs/animate.js')
        script(src='musicmanjs/jquery-1.12.4.min.js')
        script(src='musicmanjs/music-man.js')
