doctype html
html
    head
        meta(charset='utf-8')
        meta(name='referrer', content='never')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(charset='UTF-8')
        link(rel='stylesheet', href='mymusiccss/base.css')
        link(rel='stylesheet', href='mymusiccss/login.css')
        link.ico(rel='shortcut icon', type='image/x-icon', href='../favicon.ico')
        script(src='../mymusicjs/animate.js')

        title 音乐播放
        link(rel='stylesheet', href='style.css')
    body
        .top
            .w
                .logo
                #nr.neirong
                    ul
                        li
                            a(href='wyy') 发现音乐
                        li.line
                        li
                            a(href='javascript:location.reload()') 我的音乐
                        li.line
                        li
                            a(href='friends') 朋友
                        li.line
                        li
                            a(href='demo',target='_blank') 商城
                        li.line
                        li
                            a(href='musicman') 音乐人
                        li.line
                        li
                            a(href='download') 下载客户端
                #loginBlock.login-block
                    ul
                        li
                            a(href='#')
                                i.icon-phone
                                em 手机号登陆
                        li
                            a(href='#')
                                i.icon-wechart
                                em 微信登陆
                        li
                            a(href='#')
                                i.icon-qq
                                em QQ登陆
                        li
                            a(href='#')
                                i.icon-weibo
                                em 微博登陆
                        li
                            a(href='#')
                                i.icon-nest
                                em 网易邮箱账号登陆
                    .sanjiaojian

            //.seek
                input#text(type='text', value='单曲/歌手/专辑/歌单/MV/用户')
            .hot
            #deng.deng
                a(href='#') 登录
            #daosan.daosan
        script(src='mymusicjs/topBar.js')
        .redBar
            .w
                .redsanjiao
        .search
            input#search(placeholder='搜索歌曲', type='text')
            ul.list
        .music
            .music-lyric
                .lyric-content
            audio#audio(controls='')
        script(type='text/javascript').
            document.write('<script type="text/javascript" src="index.js?timer='+new Date().getTime()+'"><\/script>');
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        .g-ft
            .m-ft
                .w.f-cb
                    .copy
                        p
                            a.s-fc4(href='#') 关于网易
                            span.line
                            a.s-fc4(href='#') 客户服务
                            span.line
                            a.s-fc4(href='#') 服务条款
                            span.line
                            a.s-fc4(href='#') 网站导航
                            span.line
                            a.s-fc4(href='#') 意见反馈
                        p.s-fc3
                            span.sep 网易公司版权所有©1997-2017
                            |                     杭州乐读科技有限公司运营 :
                            a.s-fc3(href='#') 浙网文[2015] 0415-135号


        script(src='mymusicjs/tools.js')
        script(src='mymusicjs/login.js')
        script(src='../mymusicjs/footer-js.js')