
<html>
  <head>
    <title>最后一次-庄心妍</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="mymusiccss/base.css"/>
    <link rel="stylesheet" href="mymusiccss/login.css"/>
    <link class="ico" rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
    <script src="../mymusicjs/animate.js"></script>
    <style type="text/css">
      .video_div{
          margin: 0 auto;
          width: 45%;
      }
      video{
          width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="top">
      <div class="w">
        <div class="logo"></div>
        <div class="neirong" id="nr">
          <ul>
            <li><a href="wyy">发现音乐</a></li>
            <li class="line"></li>
            <li><a href="javascript:location.reload()">我的音乐</a></li>
            <li class="line"></li>
            <li><a href="friends">朋友</a></li>
            <li class="line"></li>
            <li><a href="demo" target="_blank">商城</a></li>
            <li class="line"></li>
            <li><a href="musicman">音乐人</a></li>
            <li class="line"></li>
            <li><a href="download">下载客户端</a></li>
          </ul>
        </div>
        <div class="login-block" id="loginBlock">
          <ul>
            <li><a href="#"><i class="icon-phone"></i><em>手机号登陆</em></a></li>
            <li><a href="#"><i class="icon-wechart"></i><em>微信登陆</em></a></li>
            <li><a href="#"><i class="icon-qq"></i><em>QQ登陆</em></a></li>
            <li><a href="#"><i class="icon-weibo"></i><em>微博登陆</em></a></li>
            <li><a href="#"><i class="icon-nest"></i><em>网易邮箱账号登陆</em></a></li>
          </ul>
          <div class="sanjiaojian"></div>
        </div>
      </div>
      <div class="seek">
        <input id="text" type="text" value="单曲/歌手/专辑/歌单/MV/用户"/>
      </div>
      <div class="hot"></div>
      <div class="deng" id="deng"><a href="#">登录</a></div>
      <div class="daosan" id="daosan"></div>
    </div>
    <script src="mymusicjs/topBar.js"></script>
    <div class="redBar">
      <div class="w">
        <div class="redsanjiao"></div>
      </div>
    </div><br/><br/><br/>
    <div class="video_div">
      <video autoplay="autoplay" controls="controls">
        <source src="/mp4/最后一次.mp4" type="video/mp4"/>
      </video>
      <div class="abcd">最后一次 - 庄心妍<br/>词：蔡晓恩<br/>曲：蔡晓恩<br/>谢谢你对我坦白<br/>将所有谜团都解开<br/>无论解释多奇怪<br/>没有谁是离不开<br/>只是不够勇气更改<br/>抹不掉过去和现在<br/>别等到所有剧情都成了黑白<br/>还在对着空气<br/>练着不敢说出的对白<br/>别害怕爱情捉摸不定的色彩<br/>还输得起的年纪<br/>就别太在意失败<br/>最后一次为你将冰封的心打开<br/>只怪当初的骄傲<br/>彼此都放不下姿态<br/>最后一次<br/>选择原谅延续我对爱的崇拜<br/>请不要消失得太快<br/>感觉还在不在<br/>谢谢你对我坦白<br/>将所有谜团都解开<br/>无论解释多奇怪<br/>没有谁是离不开<br/>只是不够勇气更改<br/>抹不掉过去和现在<br/>别等到所有剧情都成了黑白<br/>还在对着空气<br/>练着不敢说出的对白<br/>别害怕爱情捉摸不定的色彩<br/>还输得起的年纪<br/>就别太在意失败<br/>最后一次为你将冰封的心打开<br/>只怪当初的骄傲<br/>彼此都放不下姿态<br/>最后一次<br/>选择原谅延续我对爱的崇拜<br/>请不要消失得太快<br/>感觉还在不在<br/>最后一次为你将冰封的心打开<br/>只怪当初的骄傲<br/>彼此都放不下姿态<br/>最后一次<br/>选择原谅延续我对爱的崇拜<br/>请不要消失得太快<br/>感觉还在不在<br/>最后一次牵你的手永远都不放开</div>
    </div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <div class="g-ft">
      <div class="m-ft">
        <div class="w f-cb">
          <div class="copy">
            <p><a class="s-fc4" href="#">关于网易</a><span class="line"></span><a class="s-fc4" href="#">客户服务</a><span class="line"></span><a class="s-fc4" href="#">服务条款</a><span class="line"></span><a class="s-fc4" href="#">网站导航</a><span class="line"></span><a class="s-fc4" href="#">意见反馈</a></p>
            <p class="s-fc3"><span class="sep">网易公司版权所有©1997-2017</span>                    杭州乐读科技有限公司运营 :<a class="s-fc3" href="#">浙网文[2015] 0415-135号</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="mymusicjs/tools.js"></script>
<script src="mymusicjs/login.js"></script>
<script src="../mymusicjs/footer-js.js"></script>