<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>网易云音乐</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="logincss/main.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <link class="ico" rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    <script src="js/tools.js"></script>
    <script src="js/common.js"></script>
    <script src="js/demo06.js"></script>
    <script src="js/animate.js"></script>
    <script src="js/register.js"></script>
    <link rel="stylesheet" href="mymusiccss/base.css">
    <link rel="stylesheet" href="mymusiccss/login.css">
    <link class="ico" rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    <script src="../mymusicjs/animate.js"></script>
  </head>
  <body id="login">
    <div class="top">
      <div class="w">
        <div class="logo"></div>
        <div class="neirong" id="nr">
          <ul>
            <li><a href="wyy">发现音乐</a></li>
            <li class="line"></li>
            <li><a href="mymusic">我的音乐</a></li>
            <li class="line"></li>
            <li><a href="friends">朋友</a></li>
            <li class="line"></li>
            <li><a href="demo">商城</a></li>
            <li class="line"></li>
            <li><a href="musicman">音乐人</a></li>
            <li class="line"></li>
            <li><a href="download">下载客户端</a></li>
          </ul>
        </div>
        <div class="login-block" id="loginBlock">
          <ul>
            <li><a href="#"><i class="icon-phone"></i><em>手机号登陆</em></a></li>
            <li><a href="#"><i class="icon-wechart"></i><em>微信登陆</em></a></li>
            <li><a href="#"><i class="icon-qq"></i><em>QQ登陆</em></a></li>
            <li><a href="#"><i class="icon-weibo"></i><em>微博登陆</em></a></li>
            <li><a href="#"><i class="icon-nest"></i><em>网易邮箱账号登陆</em></a></li>
          </ul>
          <div class="sanjiaojian"></div>
        </div>
      </div>
      <div class="hot"></div>
      <div class="deng" id="deng"><a href="#">登录</a></div>
      <div class="daosan" id="daosan"></div>
    </div>
    <script src="mymusicjs/topBar.js"></script>
    <div class="redBar">
      <div class="w">
        <div class="redsanjiao"></div>
      </div>
    </div>
    <!-- main的开始-->
    <div class="login-main">
      <div class="login-slider-main w">
        <div class="login-pglg">
          <div id="content">
            <div id="login-box">
              <div class="way lg-account">
                <div class="lg-tip">
                  <h4>注册</h4>
                  <p><i class="iconfont sd-icon"></i>                       扫码登录更方便<b class="triangle outer"></b><span class="triangle inner"></span></p><i class="iconfont way-icon"></i>
                </div>
                <form id="account-form" method="post" onsubmit="return toValid()" action="zhuce">
                  <div>
                    <label for="user"><i class="iconfont"></i></label>
                    <input id="user" type="text" name="user" placeholder="手机号/会员名/邮箱" required=""><span id="user_err"></span>
                  </div>
                  <div>
                    <label for="pass"><i class="iconfont"></i></label>
                    <input id="pass" type="password" name="pass" required="" placeholder="请输入密码"><span id="pass_err"></span>
                  </div>
                  <div>
                    <label for="pass_two"><i class="iconfont"></i></label>
                    <input id="pass_two" type="password" name="pass_two" required="" placeholder="请确认密码"><span id="pass_two_err"></span>
                  </div>
                  <input id="lg-btn" type="submit" name="submit" value="注 册">
                </form>
                <p class="lg-links"><a href="forgot_pass.html">忘记密码</a><a href="register">免费注册</a></p>
                <p id="lg-error"><i class="iconfont error-icon"></i><span></span></p>
              </div>
              <div class="way lg-qrcode">
                <div class="lg-tip">
                  <h4>扫码登录，防止盗号</h4><i class="iconfont way-icon"></i>
                </div>
                <div class="qrcode-err">
                  <p>二维码已失效</p><a id="fresh" href="#">请点击刷新</a>
                </div>
                <div class="qrcode-main"><img id="qrcode" src="loginimg/login-ewm.png" al'二维码'>
                  <div class="qrcode-help"><img src="loginimg/login-help.png" alt="帮助"></div>
                </div>
                <div class="qrcode-desc clear"><i class="iconfont"></i>
                  <p>打开<a href="#">手机网易云</a>
                                           扫一扫登录
                  </p>
                </div>
                <p class="lg-links"><a id="tab-way" href="#">账号密码登录</a><a href="#">免费注册</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- login-vip的开始-->
    <div class="login-vip" id="loginVip">
      <div class="login-title" id="loginTitle">登录<span class="close-login-bg"><a class="close-login" id="closeBtn" href="javascript:void(0);">  </a></span></div>
      <div class="login-input-content">
        <div class="login-input">
          <div class="iphone-input"><a href="#">手机号登录</a></div>
          <div class="zhuce-input"><a href="register">注   册</a></div>
          <div class="login-button" id="loginBtn">
            <div class="weico"></div><a class="weico-login" href="#">微信登录</a>
            <div class="qq"></div><a class="qq-login" href="#">QQ登录</a>
            <div class="sina"></div><a class="sina-login" href="#">微博登录</a>
            <div class="wyiemail"></div><a class="wyemail-login" href="#">网易邮箱账号登录</a>
          </div>
        </div>
      </div>
    </div>
    <div class="g-ft">
      <div class="m-ft">
        <div class="w f-cb">
          <div class="copy">
            <p><a class="s-fc4" href="#">关于网易</a><span class="line"></span><a class="s-fc4" href="#">客户服务</a><span class="line"></span><a class="s-fc4" href="#">服务条款</a><span class="line"></span><a class="s-fc4" href="#">网站导航</a><span class="line"></span><a class="s-fc4" href="#">意见反馈</a></p>
            <p class="s-fc3"><span class="sep">网易公司版权所有©1997-2017</span>                    杭州乐读科技有限公司运营 :<a class="s-fc3" href="#">浙网文[2015] 0415-135号</a></p>
          </div>
          <ul class="enter f-fr">
            <li><a class="logo logo-musician f-tid" href="#"></a></li>
            <li><a class="logo logo-topic f-tid" href="#"></a></li>
            <li><a class="logo logo-midea f-tid" href="#"></a></li>
            <li><a class="logo logo-reward f-tid" href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
  <!-- <a href="#" class="m-back" id="g_backtop" title="回到顶部">回到顶部</a>-->
  <div class="g-btmbar" id="g-btmbar">
    <div class="g-btmbar-p" id=".g-btmbar-p">
      <div class="m-playbar m-playbar-lock" id="auto-id-fpboJHu88h3Feay2" style="top:-53px; visibility: visible;">
        <div class="updn">
          <div class="left f-f1"><a class="btn1" id="fixBtn1" href="javascript:void(0);"></a><a class="btn2" id="fixBtn2" href="javascript:void(0);"></a></div>
          <div class="right f-f1"></div>
        </div>
        <div class="bg"></div>
        <div class="wrap" id="g_player">
          <div class="btns"><a class="prv" href="#"></a><a class="ply j-fkag" href="#"></a><a class="plys j-fkag" href="#"></a><a class="nxt" href="#"></a></div>
          <div class="head j-flag"><a class="mask" href="#"><img src="mymusicimg/default_album.jpg" alt=""></a></div>
          <div class="play">
            <div class="j-flag words"></div>
            <div class="m-pbar">
              <div class="barbg j-flag" id="auto-id-ODscgwD3lbnJdK0A">
                <div class="rdy" style="width: 0%;"></div>
                <div class="cur" style="width: 0%;"><span class="btn f-tdn f-alpha" id="auto-id-bxCC3M0eRZD76VpR"><i></i></span></div>
              </div><span class="j-flag time"><em>00:00</em> / 00:00</span>
            </div>
          </div>
          <div class="oper f-fl"><a class="icn icn-add j-flag" href="#" title="收藏"></a><a class="icn icn-share" href="#" title="分享"></a></div>
          <div class="ctrl f-fl f-pr j-flag">
            <div class="m-vol" id="auto-id-epndKXTBrRZxUtTX" style="visibility:hidden;">
              <div class="barbg"></div>
              <div class="vbg j-t" id="auto-id-Ps01blhP4eMKXBgn">
                <div class="curr j-t" style="height: 74.4px;"></div><span class="btn f-alpha j-t" style="top: 16.2px;"></span>
              </div>
            </div><a class="icn icn-vol" href="#"></a><a class="icn icn-loop" href="#"></a><span class="add f-pr"><span class="tip" style="display: none;"></span><a class="icn icn-list s-fc3" href="#" title="播放列表">0</a></span>
            <div class="tip tip-1" style="display: none;">循环</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="mymusicjs/tools.js"></script>
  <script src="mymusicjs/login.js"></script>
  <script type="text/javascript" src="loginjs/form.js"></script>
  <script type="text/javascript" src="loginjs/SHA1.js"></script>
  <script src="../mymusicjs/footer-js.js"></script>
</html>