.top {
    height: 68px;
    background: url(../img/topbar.png) 0 -80px;
    position: relative;
}
.top .w {
    height: 68px;
    position: relative;
}
.top .logo {
    float: left;
    margin-left: -20px;
    margin-top: 10px;
    height: 42px;
    width: 163px;
    background:url("../img/topbar.png") 0 0;
}

.top .neirong li {
    float: left;
    width: 85px;
    height: 68px;
    line-height: 68px;
    text-align: center;
}
.top .neirong li.line {
    float: left;
    margin-top: 31px;
    width: 1px;
    height: 10px;
    margin-left: -1px;
    background: #030303;
}
.top .neirong li:hover {
    background: url("../img/topbar.png")0 -470px;
}

.top .neirong li a {
    color: #ccc;
}
.top .seek {
    height: 32px;
    width: 210px;
    background: url("../img/topbar.png") 0 72px;
    position: absolute;
    right: 460px;
    top: 20px;
}
.top .seek input {
    margin-left: 36px;
    margin-top: 9px;
    color: #9b9b9b;
    width: 155px;
    height: 12px;
    font-size: 12px;
    background-color: #eaeaea ;

}
.top .hot {
    position: absolute;
    width: 27px;
    height: 18px;
    background: url(../img/topbar.png)-190px 0px;
    right: 780px;
    top: 16px;

}
.top .deng {
    width: 26px;
    height: 14px;
    position: absolute;
    right: 414px;
    top: 30px;
}
.top .deng a {
    color: #787878;
    font-size: 12px;
}
.top .deng a:hover {
    color: #999;

    text-decoration: underline;
}
.top .daosan {
    position: absolute;
    width: 14px;
    height: 10px;
    background: url(../img/topbar.png)-228px -380px;
    right: 390px;
    top: 35px;
}
.top .daosan:hover {
    background: url(../img/topbar.png) -228px -417px;
}
.top .login-block {
    position: absolute;
    width: 156px;
    height: 190px;
    padding-top: 10px;
    z-index: 2;
    right: -110px;
    top: 47px;
    /*border: 1px solid #2a2a2a;*/
    border-radius: 4px;
    display: none;
}
.top .login-block ul {
    width: 156px;
    height: 190px;
    background-color: #2a2a2a;
}
.top .login-block ul li {
    width: 100%;

    /*text-align: center;*/
}
.top .login-block ul li a {
    color: #c2c2c2;
    display: block;
    height: 38px;
    line-height: 38px;
}
.top .login-block ul li a:hover {
    background-color: #353535;
}
.top .login-block ul li a i {
    float: left;
    display: inline-block;
    margin-left: 15px;
    margin-right: 12px;
    margin-top: 10px;
    width: 18px;
    height: 18px;
    background-image: url("../img/toplist.png");
}
.top .login-block ul li a i.icon-wechart {
    background-position: -20px -20px;
}
.top .login-block ul li a i.icon-qq {
    background-position: -20px -40px;
}
.top .login-block ul li a i.icon-weibo {
    background-position: 0px -20px;
}
.top .login-block ul li a i.icon-nest {
    background-position: 0px -40px;
}
.top .login-block .sanjiaojian {
    height: 0;
    width: 0;
    border: 8px solid #2a2a2a;
    border-color: transparent transparent #2a2a2a transparent;
    position: absolute;
    top: -6px;
    left: 72px;
}
.redBar {
    height: 4px;
    background-color: #c70c0c;
}
.redBar .w {
    height: 4px;
    position: relative;
}
.redBar .w .redsanjiao {
    height: 0;
    width: 0;
    border: 8px solid #c7250c;
    border-color: transparent transparent #c7250c transparent;
    position: absolute;
    top: -16px;
    left: 350px;
}


.content {
    height: 698px;
}
.content .w {
    height: 698px;
    background-color: #fff;
    position: relative;
}
.content .w .notlogin {
    width: 857px;
    height: 413px;
    margin: 0 auto ;
    background: url("../img/notlogin.jpg");
    position: relative;
}
.content .w .notlogin a {
    display: block;
    width: 157px;
    height: 48px;
    position: absolute;
    right: 165px;
    bottom: 105px;
    /*border: 1px solid #000;*/
}
.content .w .notlogin a:hover {
    background: url("../img/notlogin.jpg") no-repeat 0 -430px;
}

.content .w .login-block {
    width: 528px;
    height: 324px;
    box-shadow: 5px 5px 5px #888;
    position: absolute;
    left: 180px;
    top: 100px;
    display: none;
}
.content .w .login-block .header {
    height: 38px;
    background-color: #2d2d2d;
}
.content .w .login-block .header span {
    float: left;
    font-size: 14px;
    color: #fff;
    line-height: 38px;
    margin-left: 18px;
}
.content .w .login-block .header i {
    color: #888;
    float: right;
    line-height: 38px;
    font-size: 16px;
    margin-right: 18px;
    cursor: pointer;
}
.content .w .login-block .login-block-content {
    background-color: #fff;
    height: 246px;
    padding-top: 40px;

}
.content .w .login-block .login-block-content .u-main {
    float: left;
    width: 224px;
    height: 202px;
    padding-left: 40px;
    padding-right: 35px;
    border-right: 1px dashed #ccc;
}
.content .w .login-block .login-block-content .u-main .u-pic {
    height: 107px;
    background: url("../img/platform.png") no-repeat;
}
.content .w .login-block .login-block-content .u-main .phone-login {
    display: block;
    color: #fff;
    width: 224px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    background: url("../img/button2.png") no-repeat 0 -388px;
    margin-top: 23px;
    border-radius: 2px;
}

.content .w .login-block .login-block-content .u-main .submit {
    display: block;
    color: #585858;
    width: 224px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    background: url("../img/button2.png") no-repeat 0 -59px;
    margin-top: 10px;
    border-radius: 2px;
    border-right: 2px solid #dedddd;
}
.content .w .login-block .login-block-content .u-alt {
    float: left;
    width: 180px;
    margin-left: 39px;
}
.content .w .login-block .login-block-content .u-alt ul {
    height: 224px;
}
.content .w .login-block .login-block-content .u-alt ul li {
    height: 40px;
    line-height: 40px;
    margin-bottom: 16px;
}
.content .w .login-block .login-block-content .u-alt ul li i.icon-wechart {
    display: inline-block;
    width: 39px;
    height: 39px;
    background: url("../img/logo.png") no-repeat -149px -670px;
    float: left;
    margin-right: 15px;
}
.content .w .login-block .login-block-content .u-alt ul li i.icon-qq {
    display: inline-block;
    width: 39px;
    height: 39px;
    background: url("../img/logo.png") no-repeat -190px -670px;
    float: left;
    margin-right: 15px;
}
.content .w .login-block .login-block-content .u-alt ul li i.icon-weibo {
    display: inline-block;
    width: 39px;
    height: 39px;
    background: url("../img/logo.png") no-repeat -230px -670px;
    float: left;
    margin-right: 15px;
}
.content .w .login-block .login-block-content .u-alt ul li i.icon-nest {
    display: inline-block;
    width: 39px;
    height: 39px;
    background: url("../img/logo.png") no-repeat -270px -670px;
    float: left;
    margin-right: 15px;
}
















.g-ft {
    width: 100%;
    height: 141px;
    border-top: 1px solid #ccc;
    background-color: #F5F5F5;
}

.m-ft {
    position: relative;
    height: 91px;
}

/*.m-back {*/
/*display: block;*/
/*position: fixed;*/
/*text-indent: -9999px;*/
/*left: 50%;*/
/*margin-left: 500px;*/
/*bottom: 160px;*/
/*width: 49px;*/
/*height: 44px;*/
/*background-position: -265px -47px;*/
/*}*/

.f-cb {
    height: 91px;
}
.copy {
    position: absolute;
    top: 35px;
    width: 490px;
    height: 48px;

}
.copy .s-fc4 {
    color: #999;
    font-size: 12px;
}
.copy p {
    line-height: 24px;
}
.copy .line {
    display: inline-block;
    margin: 0 7px;
    width: 2px;
    height: 11px;
    background-color: #ccc;
}
.copy .s-fc3 {
    font-size: 12px;
    color: #666;
}
.copy .sep {
    margin-right: 10px;
}

.f-fr {
    float: right;
    width: 360px;
    height: 70px;
    margin-top: 21px;
}
.f-fr .f-tid {
    float: left;
    line-height: 140px;
    width: 60px;
    height: 70px;
    margin-left: 30px;
    font-size: 12px;
    color: #AAA;

}
.f-fr .logo-musician {
    background: url("../img/foot_enter.png") no-repeat -65px -80px;
}
.f-fr .logo-topic {
    background: url("../img/foot_enter.png") no-repeat -5px -80px;
}
.f-fr .logo-midea {
    background: url("../img/foot_enter.png") no-repeat -5px -0px;
}
.f-fr .logo-reward {
    background: url("../img/foot_enter.png") no-repeat -67px -0px;
}

.g-btmbar {
    position: fixed;
    bottom: -47px;
    height: 0;
    width: 100%;
}
.g-btmbar-p {
    position: absolute;
    width: 100%;
    height: 67px;
}
.g-btmbar .m-playbar {
    position: absolute;
    width: 100%;
    height: 53px;
}
.g-btmbar .updn .left {
    position: absolute;
    right: 0px;
    bottom: -5px;
    width: 52px;
    height: 67px;
    background: url("../img/playbar.png") no-repeat 0 -385px;
}
.g-btmbar .updn .left .btn1 {
    position: absolute;
    left: 18px;
    top: 1px;
    width: 18px;
    height: 18px;
    background: url("../img/playbar.png") no-repeat -82px -382px;
    /*z-index: 1;*/
}
.g-btmbar .updn .left .btn2 {
    position: absolute;
    left: 18px;
    top: 1px;
    width: 18px;
    height: 18px;
    background: url("../img/playbar.png") no-repeat -100px -382px;
    /*z-index: 0;*/
    display: none;
}
.g-btmbar .updn .left .btn1:hover {
    background: url("../img/playbar.png") no-repeat -82px -402px;
}
.g-btmbar .updn .left .btn2:hover {
    background: url("../img/playbar.png") no-repeat -100px -402px;
}
/*.g-btmbar .updn .right {*/
/*position: absolute;*/
/*right: 0;*/
/*bottom: 0;*/
/*top: -1px;*/
/*width: 15px;*/
/*height: 54px;*/
/*background: url("../images/playbar.png");*/
/*}*/

.g-btmbar .bg {
    position: absolute;
    bottom: 0;
    right: 52px;
    width: 100%;
    height: 53px;
    background: url("../img/playbar.png");
    overflow: visible;
}

.g-btmbar .wrap {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -490px;
    /*background-color: red;*/
    width: 980px;
    height: 47px;
}

.g-btmbar .wrap .btns {
    position: absolute;
    bottom: 0;
    width: 137px;
    height: 42px;
    /*background-color: blue;*/
}
.g-btmbar .wrap .btns .prv {
    position: absolute;
    top: 5px;
    width: 28px;
    height: 28px;
    background: url("../img/playbar.png") no-repeat 0 -130px;
}
.g-btmbar .wrap .btns .prv:hover {
    background: url("../img/playbar.png") no-repeat -30px -130px;
}
.g-btmbar .wrap .btns .ply {
    position: absolute;
    left: 38px;
    width: 36px;
    height: 36px;
    background: url("../img/playbar.png") no-repeat 0px -204px;
}
.g-btmbar .wrap .btns .ply:hover {
    background: url("../img/playbar.png") no-repeat -40px -204px;
}
.g-btmbar .wrap .btns .nxt {
    position: absolute;
    top: 5px;
    right: 25px;
    width: 28px;
    height: 28px;
    background: url("../img/playbar.png") no-repeat -80px -130px;
}
.g-btmbar .wrap .btns .nxt:hover {
    background: url("../img/playbar.png") no-repeat -110px -130px;
}

.g-btmbar .wrap .head {
    position: absolute;
    top: 6px;
    left: 138px;
    width: 34px;
    height: 34px;
}
.g-btmbar .wrap .head img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.g-btmbar .wrap .play {
    position: absolute;
    left: 190px;
    width: 608px;
    height: 37px;
}
.g-btmbar .wrap .play .words {
    position: absolute;
    width: 608px;
    height: 28px;
}
.g-btmbar .wrap .play .m-pbar {
    position: absolute;
    bottom: 0;
    width: 493px;
    height: 9px;
    border-radius: 9px;
    border-bottom: 1px solid #666;
    background-color: #000;
}
.g-btmbar .wrap .play .m-pbar .time {
    position: absolute;
    bottom: -3px;
    font-size: 12px;
    color: #999;
    right: -85px;
}
.g-btmbar .wrap .play .m-pbar .time em {
    font-size: 12px;
    color: #bbb;
    font-style: normal;
}
.g-btmbar .wrap .play .f-alpha {
    position: absolute;
    left: -2px;
    top: -4px;
    width: 22px;
    height: 24px;
    background: url("../img/iconall.png") no-repeat 0px -252px;
}
.g-btmbar .wrap .play .f-alpha:hover {
    background: url("../img/iconall.png") no-repeat 0px -282px;
}
.g-btmbar .wrap .oper {
    position: absolute;
    right: 120px;
    width: 60px;
    height: 36px;
}
.g-btmbar .wrap .oper .icn-add {
    position: absolute;
    bottom: 0;
    width: 25px;
    height: 25px;
    background: url("../img/playbar.png") no-repeat -90px -164px;
}
.g-btmbar .wrap .oper .icn-add:hover {
    background: url("../img/playbar.png") no-repeat -90px -190px;
}
.g-btmbar .wrap .oper .icn-share {
    position: absolute;
    left: 28px;
    bottom: 0;
    width: 25px;
    height: 25px;
    background: url("../img/playbar.png") no-repeat -116px -164px;
}
.g-btmbar .wrap .oper .icn-share:hover {
    background: url("../img/playbar.png") no-repeat -116px -190px;
}
.g-btmbar .wrap .ctrl {
    position: absolute;
    right: 0;
    width: 126px;
    height: 36px;
}
.g-btmbar .wrap .ctrl .icn-vol {
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 25px;
    height: 25px;
    background: url("../img/playbar.png") no-repeat -2px -250px;
}
.g-btmbar .wrap .ctrl .icn-vol:hover {
    background: url("../img/playbar.png") no-repeat -31px -250px;
}
.g-btmbar .wrap .ctrl .icn-loop {
    position: absolute;
    left: 40px;
    bottom: 0;
    width: 25px;
    height: 25px;
    background: url("../img/playbar.png") no-repeat -68px -250px;
}
.g-btmbar .wrap .ctrl .icn-loop:hover {
    background: url("../img/playbar.png") no-repeat -95px -250px;
}
.g-btmbar .wrap .ctrl .f-pr {
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 60px;
    height: 25px;
    background: url("../img/playbar.png") no-repeat -44px -70px;
}
.g-btmbar .wrap .ctrl .f-pr:hover {
    background: url("../img/playbar.png") no-repeat -44px -100px;
}
.g-btmbar .wrap .ctrl .s-fc3 {
    position: absolute;
    font-size: 12px;
    color: #666;
    right: 20px;
    bottom: 6px;
}